<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/add_inventory" method="POST">
        <input type="Serial_Number" name="Serial_Number" placeholder="Enter Serial Code"><br>
        <input type="Product_Name" name="Product_Name" placeholder="Enter Product Name"><br>
        <input type="Quantity" name="Quantity" placeholder="Enter Quantity"><br>
        <input type="Price" name="Price" placeholder="Enter Price"><br>
        <input type="Store" name="Store" placeholder="Enter Store"><br>

        <button type="submit" value="addInventory">Submit New Inventory</button>
    </form>
        <p>Back<br><a href='/userHome.html'>login</a></p>
</body>
</html>