<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form method="post" action="/add_user">
            <input type="Login_ID" name="Login_ID" placeholder="Create a Login ID"><br>
            <input type="password" name="password" placeholder="Create a Password"><br>
            <button type="submit" value="signUp">create account</button>
        </form>
        <p>Already have an account<br><a href='/login.html'>login</a></p>
    </main>
</body>
</html>