<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Inventory & Order <br>
        Management System</h1>
        <form method="post" action="/newAccount_validation">

            <!--This needs to check for the unique code via a data base--> 
            <input type = "code" name = "code" placeholder = "Enter Unique Code"><br>
            <!-- This need to check for the correct manager code via a data base-->
            <input type = "managerCode" name = "password" placeholder = "Management Code"><br>
            <!-- This need to check for the correct store code via a data base-->
            <input type = "store" name = "store" placeholder = "Store Location"><br>
        </form>
         <!--Redirect to newUser page -->
        <form action="{{url_for('newUser')}}" method="get">
            <button type = "submit">Create Login</button>
    </main>    
</body>
</html>