<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inventory – Replenishment</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!-- TOP MENU -->
<div class="top-menu">
    <img src="/static/Logo-Small.png" class="logo">
    <div class="active">Inventory</div>
    <div>Dashboard</div>
    <div>Orders</div>    

    {% if session.is_admin %}
    <a href="/adminPage">Admin</a>
    {% endif %}   

    
    <div class="info-right">
      <a href="/">Sign Out</a>
    </div>
</div>

<!-- ACTION BUTTONS + SEARCH BAR -->
<form action="{{url_for('delete_inventory')}}" method="post" id="deleteForm">

<div class="action-bar">

    <a href="{{ url_for('addInventory') }}" class="btn">New</a>

    <button type="button" class="btn">Order</button>

    <button type="submit" class="btn">Delete</button>

    <input type="text" id="searchInput" class="search-input" onkeyup="searchbar()" placeholder="Search for product names.." title="Type in a name">

</div>

<!-- PAGE CONTENT -->
<div class="page">
    <!-- MAIN CONTENT (TABLE) -->
    <div class="main">

        <table id="inventoryTable">
          <thead>
              <tr>
                  <th>Select</th>
                  <th>Serial</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Location</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for row in item %}
              <tr>
                  <td><input type="checkbox" name="delete_ids" value="{{row[0]}}"></td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[5] }}</td>
                  <td>{{ row[4] }}</td>
                  <td>{{ row[2] }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</div>

</form>


</body>
</html>

<script>
  
function searchbar() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("inventoryTable");
  tr = table.getElementsByTagName("tr");

  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2]; // Product column
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>